body {
    margin: 0;
    font-size: 15px;
}




.bottom-container {
    justify-content: center;
    min-height: 19;
}

.display-top {
    position: relative;
    
}

.inImage {
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: rgb(255, 187, 0);
    color: black;
    opacity: 0.7;
    width: 70%;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 0 16px;
}
h2{
    font-size: 30px;
    margin: 10px 0;
}


h2#description-pictures-1{
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h2#description-pictures-2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}


.card {
    padding: 16px;
    max-width: 45%;
    position: relative;
    justify-content: center;
    min-height: 19px;
    padding-left: 16px;
    padding-right: 16px;
} 

.row{
    display: flex;
}
